export AWS_PROFILE="bealinebackend"
export SERVICE_ACCOUNT_ID="662070807150"
export AWS_DEFAULT_REGION="us-west-2"
export FARM_ID="farm-585a9a6099ce4fa580b24cdb2e8cba70"
export QUEUE_ID="queue-bd46f3d6f1fc40bba880b1be751ffd66"  # JobAttachmentsLinuxQueue


_queue_info=$(
  aws deadline get-queue --farm-id "$FARM_ID" --queue-id "$QUEUE_ID" \
    --query 'jobAttachmentSettings.[s3BucketName, rootPrefix]' --output text
)
export JOB_ATTACHMENTS_BUCKET=$(echo "$_queue_info" | awk '{print $1}')
export JA_TEST_ROOT_PREFIX=$(echo "$_queue_info" | awk '{print $2}')

